#footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 37px;
  background-color: black;
  color: cornflowerblue;
  @media screen and (max-height:600px) {
     position: fixed;
  }
}

#footerText {
  padding: 8px;
}
