.headerLogo {
    float: right;
}

@media screen and (max-width: 800px) {

  .logoSrc{
    content:url("/images/pricekite_tiny_alt.png");
  }

  .header {
    width: 100%;
    height: 90px;
    background-color: black;
  }

}

@media screen and (min-width: 801px) {

  .logoSrc{
    content:url("/images/pricekite_combined_logo_transparent_alt.png");
  }



  .header {
    width: 100%;
    height: 120px;
    background-color: black;
  }

}

a {
    display: block;
    padding: 8px;
    background-color: black;
  }
