@media all and (max-width: 800px) {
  .statusDiv{
    float: left;
  }
}

@media all and (min-width: 800px) {
  .statusDiv{
    float: right;
  }
}

@media all and (max-width: 800px) {
  .ipAddressText{
    float: left;
  }
}

@media all and (min-width: 800px) {
  .ipAddressText{
    width: 70%;
    float: left;
  }
}

.clearIt {
  clear:both;
}
